
<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>

	
	<!-- FAVICONS ICON -->
	<link rel="icon" href="{% static 'images/icon.png' %}" />
	<link rel="shortcut icon" type="image/x-icon" href="{% static 'images/icon.png"' %}" />
	
	<!-- FONTS -->
	<link rel="stylesheet" href="{% static 'css/fonts.css' %}">

	<!-- PAGE TITLE HERE -->
	<title>مجله - majalleh</title>
	
	<!-- MOBILE SPECIFIC -->
	<meta name="viewport" content="width=device-width, initial-scale=1">
	
	<!--[if lt IE 9]>
	<script src="js/html5shiv.min.js"></script>
	<script src="js/respond.min.js"></script>
	<![endif]-->
	
	<!-- STYLESHEETS -->
	<link rel="stylesheet" type="text/css" href="{% static 'css/plugins.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/templete.css' %}">
	<link class="skin" rel="stylesheet" type="text/css" href="{% static 'css/skin/skin-1.css' %}">



	<script src="{% static 'ckeditor/ckeditor.js' %}"></script> <!-- CKEDITOR -->	
</head>
<body id="bg">

<div class="page-wraper">
<div id="loading-area"></div>
	<!-- header -->
    {% include 'partials/_header.html' %}
    <!-- header END -->

    <!-- Content -->
    {% block content %}
        {% comment %} content goes here. {% endcomment %}
    {% endblock content %}
    <!-- Content END-->

	<!-- Footer -->
	{% include 'partials/_footer.html' %}
    <!-- Footer END-->
    <button class="scroltop fa fa-chevron-up" ></button>
</div>
<!-- JAVASCRIPT FILES ========================================= -->
<script src="{% static 'js/jquery.min.js' %}"></script><!-- JQUERY.MIN JS -->
<script src="{% static 'plugins/bootstrap/js/popper.min.js' %}"></script><!-- BOOTSTRAP.MIN JS -->
<script src="{% static 'plugins/bootstrap/js/bootstrap.min.js' %}"></script><!-- BOOTSTRAP.MIN JS -->
<script src="{% static 'plugins/bootstrap-select/bootstrap-select.min.js' %}"></script><!-- FORM JS -->
<script src="{% static 'plugins/bootstrap-touchspin/jquery.bootstrap-touchspin.js' %}"></script><!-- FORM JS -->
<script src="{% static 'plugins/magnific-popup/magnific-popup.js' %}"></script><!-- MAGNIFIC POPUP JS -->
<script src="{% static 'plugins/counter/waypoints-min.js' %}"></script><!-- WAYPOINTS JS -->
<script src="{% static 'plugins/counter/counterup.min.js' %}"></script><!-- COUNTERUP JS -->
<script src="{% static 'plugins/imagesloaded/imagesloaded.js' %}"></script><!-- IMAGESLOADED -->
<script src="{% static 'plugins/masonry/masonry-3.1.4.js' %}"></script><!-- MASONRY -->
<script src="{% static 'plugins/masonry/masonry.filter.js' %}"></script><!-- MASONRY -->
<script src="{% static 'plugins/owl-carousel/owl.carousel.js' %}"></script><!-- OWL SLIDER -->
<script src="{% static 'js/custom.js' %}"></script><!-- CUSTOM FUCTIONS  -->
<script src="{% static 'js/dz.carousel.js' %}"></script><!-- SORTCODE FUCTIONS -->
<script src="{% static 'js/dz.ajax.js' %}"></script><!-- CONTACT JS  -->

</body>

</html>
